.dropdown-content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}
.dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.item-renderer {
  display: flex;
  align-items: center;
}

.custom-checkbox {
}

.checkbox-icon {
  display: inline-block;
  height: 1.05vw;
  width: 1.05vw;
  position: relative;
  background-color: #f6f6f6;
}

.checkbox-hidden:checked ~ .checkbox-icon {
  background-color: transparent;
}
.checkbox-hidden:checked ~ .checkbox-icon:after {
  color: #7ed321;
  height: 1.05vw;
  border: 1px solid #7ed321;
  width: 1.05vw;
  line-height: 1.1vw;
  text-align: end;
  font-size: 1vw;
  position: absolute;
  left: 0px;
  content: '\2713';
}

.checkbox-hidden {
  display: none;
}
